.project-page {
  .content {
    margin-top: 68px;
    position: absolute;
    overflow: auto;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;

    .content--list {
      margin-top: 0 !important;
      span {
        letter-spacing: 1px;
      }
    }
    .avatar {
      object-fit: cover;
    }
  }

  .paragraph {
    font-size: 16px;
    font-weight: 400;
    color: slategray;
  }
}
