.home-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../../assets/images/gradient-rainbow.jpg');

  // Navbar
  nav {
    top: 0;
    position: absolute;

    .interpunct {
      color: white !important;
    }

    a {
      cursor: pointer;
      color: white !important;

      &:hover {
        color: white !important;
      }
    }
  }

  .active {
    font: 900;
    text-shadow: 2px 2px 2px rgba(161, 150, 150, 0.79);

    &:hover {
      color: #665e4a !important;
    }
  }

  .content {
    opacity: 0.6;
    color: black;
    display: flex;
    border-radius: 2rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    min-width: 290px;

    h4 {
      letter-spacing: 0.1em;
    }

    .icon--container {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }

    // Icons
    .icon {
      margin: 0.5rem;
      padding: 0.5rem;
      color: #f4f4f4;
      border-radius: 50%;
      align-items: center;
      display: inline-flex;
      text-decoration: none;
      background-color: #111;

      animation-duration: 1s;
      animation-fill-mode: both;
      animation-timing-function: ease-in-out;
      transition: background-color 0.15s ease-in-out;

      -webkit-animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      -webkit-animation-timing-function: ease-in-out;

      svg {
        display: inline-block;
        height: 1.5rem;
        width: 1.5rem;
      }

      img {
        min-width: 24px;
        max-width: 24px;
      }

      &:hover {
        cursor: pointer;
        animation-name: bounce;
        -moz-animation-name: bounce;
        background: linear-gradient(45deg, #9514ce, #598bf2);
      }
    }

    .logo--img {
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  .footer {
    bottom: 0;
    width: 100%;
    padding: 1rem;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    position: absolute;
    margin-bottom: 0.5rem;
    letter-spacing: 0.1em;
  }
}
