.home-container {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../assets/images/gradient-bg.jpg');

  nav {
    .interpunct {
      color: white;
    }
    a {
      cursor: pointer;
    }
  }
}
